".source.js":
  #
  # Import snippets
  # =================
  "Router: import react-router-dom":
    prefix: "_irr"
    body: "import { ${1} } from 'react-router-dom'"

  "Router: import Link":
    prefix: "_il"
    body: "import { Link } from 'react-router-dom'"

  "Router: import Navlink":
    prefix: "_inl"
    body: "import { NavLink } from 'react-router-dom'"

  "Router: import Prompt":
    prefix: "_ipr"
    body: "import { Prompt } from 'react-router'"

  "Router: import BrowserRouter":
    prefix: "_ibr"
    body: "import { BrowserRouter } from 'react-router-dom'"

  "Router: import HashRouter":
    prefix: "_ihr"
    body: "import { HashRouter } from 'react-router-dom'"

  "Router: import MemoryRouter":
    prefix: "_imr"
    body: "import { MemoryRouter } from 'react-router'"

  "Router: import Switch, Route":
    prefix: "_isr"
    body: "import { Switch, Route } from 'react-router'"

  "Router: import matchPath":
    prefix: "_imp"
    body: "import { matchPath } from 'react-router'"

  "Router: import withRouter":
    prefix: "_iwr"
    body: "import { withRouter } from 'react-router'"

  #
  # Link snippets
  # =================
  "Router: Link":
    prefix: "_ln"
    body: '<Link to="${1}">${2}</Link>${3}'

  "Router: Link w/props":
    prefix: "_lnp"
    body: '<Link to={{\n\tpathname: "${1}",\n\tstate: { ${2}: ${3} }\n}}/>${4}'

  #
  # NavLink snippets
  # =================
  "Router: NavLink":
    prefix: "_nln"
    body: '<NavLink to="${1}">${2}</NavLink>${3}'

  #
  # Prompt snippets
  # =================
  "Router: Prompt":
    prefix: "_prmpt"
    body: '<Prompt message="${1}"/>${2}'

  #
  # Redirect snippets
  # =================
  "Router: Redirect":
    prefix: "_redirect"
    body: '<Redirect to={${1}} />${2}'

  "Router: Redirect w/props":
    prefix: "_redirectp"
    body: '<Redirect to={{\n\tpathname: "${1}",\n\tstate: { ${2}: ${3} }\n}} />${4}'

  #
  # Route snippets
  # =================
  "Router: Route":
    prefix: "_rt"
    body: '<Route ${1:exact }path="${2}" component={${3}} />${4}'

  "Router: Nested Route":
    prefix: "_rtn"
    body: '<Route path="${1}" component={${2}}>\n\t${3}</Route>${4}'

  "Router: Route w/render":
    prefix: "_rtr"
    body: '<Route ${1:exact }path="${2}" render={(${3}) => ${4}} />${5}'

  "Router: Route w/children":
    prefix: "_rtc"
    body: '<Route ${1:exact }path="${2}" children={({ ${3:match} }) => ${4}} />${5}'

  #
  # Router snippets
  # =================
  "Router: Router":
    prefix: "_router"
    body: '<Router>${1}</Router>${2}'

  "Router: Router history":
    prefix: "_routerh"
    body: '<Router history={${1:history}}>${2}</Router>${3}'
